// keyboard plate
//
{% for line in source %}
// {{line}}
{%- endfor %}
//
// Produced with "{{ cli }}"
//
// All units are in mm
//

$fn=128;

module open_stab(x, y, w, inverted) {
  // w = 23.8 for 2u, 2.25u, 2.75u
  // w = 38.1 for 3u
  // w = 133.35 for 8u

  yofs = inverted ? 1.2 : -1.2;

  if (w < 24) {
    translate([x + 7 - (w/2) - 4.2, y]) {
      square([w + 7.9, 14]);
    }
  }
  translate([x + 7 - (w/2) - 4.2, y + yofs]) {
    square([8.025, 14]);
  }
  translate([x + 7 + (w/2) - 4.325, y + yofs]) {
    square([8.025, 14]);
  }

}

module small_stab(x, y, w, inverted) {
  // w = 23.8 for 2u, 2.25u, 2.75u
  // w = 38.1 for 3u
  // w = 133.35 for 8u

  gap = 3.2;

  yofs = inverted ? 1.2 : -1.2;
  circley = inverted ? 14 : 0;

  if (w < 24) {
    translate([x + 7 - (w/2) - 4.2, y]) {
      // square([w + 7.9, 14]);
      rounded_rect(0, 0, w + 7.9, 14, gap/2);
    }

    translate([x + 7 - (w/2) - 4.2, y]) {
      translate([(8.025 - gap)/2, yofs]) {
        square([gap, 14]);
        translate([gap/2, circley]) {
          circle(gap/2);
        }
      }
    }

    translate([x + 7 + (w/2) - 4.325, y]) {
      translate([(8.025 - gap)/2, yofs]) {
        square([gap, 14]);
        translate([gap/2, circley]) {
          circle(gap/2);
        }
      }
    }
  } else {
    translate([x + 7 - (w/2) - 4.2, y + yofs]) {
      square([8.025, 14]);
    }
    translate([x + 7 + (w/2) - 4.325, y + yofs]) {
      square([8.025, 14]);
    }
  }
}

module cherry_stab_vertical(x, y, w, inverted) {
  translate([x + 7, y + 7]) rotate(a=90) translate([-(x + 7), -(y + 7)]) cherry_stab(x, y, w, inverted);
}

module open_stab_vertical(x, y, w, inverted) {
  translate([x + 7, y + 7]) rotate(a=90) translate([-(x + 7), -(y + 7)]) open_stab(x, y, w, inverted);
}

module small_stab_vertical(x, y, w, inverted) {
  translate([x + 7, y + 7]) rotate(a=90) translate([-(x + 7), -(y + 7)]) small_stab(x, y, w, inverted);
}

module cherry_stab(x, y, w, inverted) {
  // w = 23.8 for 2u, 2.25u, 2.75u
  // w = 38.1 for 3u
  // w = 133.35 for 8u

  yofs = inverted ? 1.2 : -1.2;

  translate([x + 7 - (w/2) - 4.2, y + yofs]) {
    square([7.525, 13.5]);
  }
  translate([x + 7 + (w/2) - 3.325, y + yofs]) {
    square([7.525, 13.5]);
  }

  if (w < 24) {
    translate([x + 7 - (w/2), y + 4]) {
      square([w, 6]);
    }
  }
}

module cherry_6_25u_stab(x, y) {
}

module cherry1u(x, y) {
    translate([x, y]) {
        square(14);
{%- if dogbone %}
        ofs = sqrt(({{tool_size}}/2) * ({{tool_size}}/2) / 2);
        translate([ofs, ofs]) circle({{tool_size}} / 2);
        translate([ofs, 14 - ofs]) circle({{tool_size}} / 2);
        translate([14 - ofs, ofs]) circle({{tool_size}} / 2);
        translate([14 - ofs, 14 - ofs]) circle({{tool_size}} / 2);
{%- endif %}
    }
};

module drill(size, x, y) {
    translate([x, y]) circle(size);
}

module rect(width, height, x, y) {
    translate([x, y]) square([width, height]);
}

module rounded_rect(x, y, width, height, radius) {
    translate([x, y]) {
        hull() {
            translate([radius, radius]) circle(r=radius);
            translate([radius, height - radius]) circle(r=radius);
            translate([width - radius, radius]) circle(r=radius);
            translate([width - radius, height -radius]) circle(r=radius);
        }
    }
}

difference() {
{% if rounded %}
    rounded_rect({{rtrim}}, {{btrim}}, {{width}} - {{ltrim}} - {{rtrim}}, {{height}} - {{ttrim}} - {{btrim}}, {{rounded_toolsize / 2}});
{%- else %}
    translate({{rtrim}},{{btrim}}) {
      square(size=[{{width}} - {{ltrim}} - {{rtrim}},
                   {{height}} - {{ttrim}} - {{btrim}}]);
    }
{%- endif %}

    union() {
        // Keys
{%- for fn, x, y in keys %}
        {{fn}}({{x}}, {{y}});
{%- endfor %}

        // Stabs
{%- for fn, x, y, w, inverted in stabs %}
        {{fn}}({{x}}, {{y}}, {{w}}, {{inverted}});
{%- endfor %}

        // Drills (screws)
{%- for size, x, y in drills %}
        drill({{size}}, {{x}}, {{y}});
{%- endfor %}

        // Rects
{%- for width, height, x, y in rects %}
        rect({{width}}, {{height}}, {{x}}, {{y}});
{%- endfor %}
    }
}
